<div class="container">
  <div class="card">
    <div class="card-header">
      Customers List
    </div>
    <div class="card-body">
      <table class="table" *ngIf="customers">
        <thead>
        <tr>
          <th>Id</th> <th>Name</th> <th>E mail</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customers">
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td class="btn btn-success" (click)="handleOrder(c)">Order</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

