<!--<div class="container">
  {{orderDetails | json}}
</div>-->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Order Id:{{orderId}}
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Order Id: {{orderDetails.id}}</li>
            <li class="list-group-item">Order Date: {{orderDetails.createdAt| date:'dd/MM/yy'}}</li>
            <li class="list-group-item">Order Status: {{orderDetails.status}}</li>
            <li class="list-group-item">Customer Id: {{orderDetails.customer.id}}</li>
            <li class="list-group-item">Customer Name: {{orderDetails.customer.name}}</li>
            <li class="list-group-item">Customer Email: {{orderDetails.customer.email}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-light">Product Items</div>
        <div class="card-body">
          <table class="table text-sm">
            <thead>
            <tr>
              <th>Product Id</th> <th>Name</th><th>Quantity</th><th>Price</th><th>Discount</th><th>Ammount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pi of orderDetails.productItemsList">
              <td>{{pi.productId}}</td>
              <td>{{pi.product.name}}</td>
              <td class="text-end">{{pi.quantity}}</td>
              <td class="text-end">{{pi.price | number:'.2'}}</td>
              <td class="text-end">{{pi.discount | number:'.2'}}</td>
              <td class="text-end">{{pi.amount | number:'.2'}}</td>
            </tr>
            <tr class="bg-dark text-light">
              <td colspan="5" class="text-end ">Total:</td>
              <td class="text-end">{{orderDetails.total | number:'0.2'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


